/* * {
  box-sizing: border-box;
} */

/* ---------------------------------- Elements --------------------------------------*/

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  position: relative;
  
}

body {
  color: #ffffff;
  background-color: #26de81;
  font-family: "Lora", serif;
}

header {
  padding: 1px;
  background-color: #fed330;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

h1 {
  font-size: 3em;
  display: inline-block;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

footer {
  background-color: #fed330;
  padding: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 2em;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-bottom: 1em;
}

li {
  margin-bottom: .5em;
}

a:visited {
  color: white;
  text-decoration: none;
}

/* --------------------------------- Classes  & IDs for Hide-1-------------------------------------*/
#hide-1 {
  width: 80%;
  height: 30em;
  margin: 0 auto;
  border: 2px solid #2f3542;
  box-shadow: 12px 15px 5px #2f3542;
  background-color: #2bcbba;
  position: relative;
  top: 3em;
  bottom: 1em;
  cursor: pointer;
}

.the-canvas {
  padding: 1px;
}

.splash-screen {
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  padding: 1px;
  text-align: center;
}

.directions {
  color: white;
  width: 70%;
  text-align: justify;
  margin: 0 auto;
}

.directions p {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 2em;
}



/*--------------------------------------Classes & IDs for Hide-2--------------------------------*/


#hide-2 {
  width: 80%;
  height: 30em;
  margin: 0 auto;
  border: 2px solid #2f3542;
  box-shadow: 12px 15px 5px #2f3542;
  background-color: #2bcbba;
  position: relative;
  top: 3em;
  bottom: 1em;
  border: 3px solid black;
  display: none;
  
}


.choices p {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.choice-container {
  display: inline-block;
  
}
.choices h1 {
  text-transform: lowercase;
}

.choice {
  font-size: 7rem;
  display: inline;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


/* ------------------------------------Classes & IDs for Hide-3 -----------------------------------*/

#hide-3 {
  text-align: center;
  display: none;
  
}

#input {
  width: 120px;
  height: 60px;
  margin-top: 2em;
  display: inline-block;
  text-align: center;
  font-size: 2em;
}

#next {
  display: none;
}

form {
  text-align: center;
}

#submit {
  width: 320px;
  height: 80px;
  background-color: #2bcbba;
  font-size: .9em;
  color: white;
  font-weight: 600;
}

.flashcard {
  width: 60%;
  height: 20em;
  background-color: white;
  color: blue;
  border: 5px solid #a4b0be;
  margin-top: 3em;
  /* margin: 0 auto; */
  display: inline-block;
  text-align: center;
}

.challenge {
  padding-top: .75rem;
  font-size: 4rem;
  
  

}

.score-box {
  width: 8em;
  height: 5em;
  background-color: white;
  color: #2f3542;
  display: inline-block;
  margin-top: 1em;
}

.score-box h2 {
  margin: auto;
  padding-top: .75em;
}

.update-score {
  text-align: center;
  margin-bottom: 2em;
}

.update-score h3{
  padding: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}


/*------------------------------------------ ID Selectors ------------------------------------------*/


#github {
  padding: 1px;
  /* inline;display:  */
  padding-bottom: 2em;
  font-size: 1.25em;
  font-weight: 800;
  
}

#story {

  font-size: 1.25em;
  font-weight: 800;
}

#wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

#calculator {
  font-size: 3em;
  display: inline-block;
  margin-right: 2em;
}

#computer {
  font-size: 3em;
  display: inline-block;
  margin-left: 2em;
}
