/* * {
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  position: relative;
  
}

body {
  color: #ffffff;
  background-color: #ff7f50;
  font-family: "Lora", serif;
}

header {
  padding: 1px;
  background-color: #70a1ff;
  text-align: center;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

footer {
  background-color: #5352ed;
  padding: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 2em;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-bottom: 1em;
}

li {
  margin-bottom: .5em;
}

a:visited {
  color: white;
  text-decoration: none;
}



.the-canvas {
  padding: 1px;
}

.splash-screen {
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  padding: 1px;
  text-align: center;
}

.directions {
  color: white;
  width: 70%;
  text-align: justify;
  margin: 0 auto;
}

.directions p {
  font-size: 1.25em;
  font-weight: 800;
  line-height: 2em;
}

.directions button {
  text-align: center;
}

#hide-1 {
  width: 80%;
  height: 30em;
  margin: 0 auto;
  border: 2px solid #2f3542;
  box-shadow: 12px 15px 5px #2f3542;
  background-color: #ff6b81;
  position: relative;
  top: 3em;
  bottom: 1em;
}

#github {
  padding: 1px;
  /* inline;display:  */
  padding-bottom: 2em;
  font-size: 1.5em;
  
}

#story {

  font-size: 1.5em;
}

#wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

